<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Board State</title>

    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/homeStyle.css" media="screen" title="no title">
    <link rel="icon" href="../images/crab-02.svg" sizes="any" type="image/svg+xml">

  </head>
  <body>

      <div class="jumbotron">
        <div id="film">
          <div class="container">
            <div style="display: flex; text-align: center">
              <img src="../images/crab-02.svg" />
              <div>
                <h1>Board State<br/><small>A simple way to express complex states.</small></h1>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div id="mainContent" ng-controller="homeController">

      <div class="flexItemMain">

        <section>
          <h2>Welcome
            <br/>
            <small>Thank you for using Board State</small>
          </h2>
          <div class="btn-container" style="display: flex">
            <div style="width: 50%">
              <a class="btn btn-primary btn-lg" href="/new">New Board State</a>
            </div>
            <div style="width: 50%">
              <a class="btn btn-info btn-lg" href="/{{tutorialLink}}">Learn More</a>
            </div>
          </div>
        </section>

        <section>
          <h2>News</h2>
          <p>
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
          </p>
          <p>
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
          </p>
          <p>
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
          </p>
          <p>
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
            This is a paragraph where I will put news about Board State and other Magic: the Gathering related news.
          </p>
        </section>

        <section>
          <h2>Contact Us</h2>
          <p>Questions, comments or want to share something cool?  You can get in contact with us at any of these options!</p>
        </section>


      </div>

      <div class="flexItemSide">

        <section>
          <h2>Board State of the Day</h2>
          <p>This is a quick description of what today's Board State will be.  Hopefully it will be an interesting one, but I don't know yet since I haven't made it yet</p>
          <div class="btn-container">
            <button class="btn btn-primary btn-lg">Check it out!</button>
          </div>
          <div style="text-align: center"><small><a href="#">Submit</a> a Board State to be featured!</small></div>
        </section>

        <section>
          <h2>Popular Board States</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <title>Popular Board States</title>
              <thead>
                <th>Category</th>
                <th>Username</th>
                <th>Date</th>
              </thead>
              <tr ng-repeat="popular in popularBS">
                <td colspan="3">
                  <a href="#">
                    <table class="table">
                      <tr>
                        <td colspan="3" class="tableTitle">
                          <strong>{{popular.title}}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td class="trContent">{{popular.category}}</td>
                        <td class="trContent">{{popular.username}}</td>
                        <td class="trContent">{{popular.date}}</td>
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </section>

        <section>
          <h2>Recent Board States</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <title>Popular Board States</title>
              <thead>
                <th>Category</th>
                <th>Username</th>
                <th>Date</th>
              </thead>
              <tr ng-repeat="recent in recentBS">
                <td colspan="3">
                  <a href="#">
                    <table class="table">
                      <tr>
                        <td colspan="3" class="tableTitle">
                          <strong>{{recent.title}}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td class="trContent">{{recent.category}}</td>
                        <td class="trContent">{{recent.username}}</td>
                        <td class="trContent">{{recent.date}}</td>
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </section>

      </div>


    </div>


    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../scripts/home.js" charset="utf-8"></script>

  </body>
</html>
