body {
  overflow: hidden;
}

#uiElements {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
}

#cardPortal {
  position: absolute;
  z-index: -1;
  text-align: center;
  border: 1px solid black;
  height: 115px;
  width: 200px;
  border: 5px ridge rgb(128, 128, 128);
  background-color: rgba(207, 207, 207, 0.5);
}

#suggestions {
  position: absolute;
  z-index: 1000;
  background-color: rgb(207, 207, 207);
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.suggestion {
  padding: 10px;
  padding-bottom: 0px;
}

.suggestion:last-child {
  padding-bottom: 10px;
}

.suggestion:hover {
  background-color: rgb(47, 47, 47);
  color: rgb(224, 224, 224);
}

#gameBoardUi {
  position: absolute;
  top: 0px;
  left: calc(100vw - 150px);
  width: 150px;
  height: 100vh;
  text-align: center;
}

#gameBoardUi button {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}

#gameBoardUi section:first-child {
  margin-top: 50px;
}

#gameBoardUi button:hover {
  background-color: rgb(205, 205, 205);
}

#gameStats {
  position: relative;
  height: 100vh;
  min-height: 700px;
  width: 150px;
  background-color: rgb(149, 149, 149);
  border-right: 10px ridge rgb(154, 154, 154);
  padding: 3px;
}

#gameStats section {
  height: 50%;
  padding-top: 25px;
}

#opponent {
}

#self {
  vertical-align: bottom;
}

#opponent, #self {

}

#opponentLife, #selfLife {
  height: 100px;
  width: 102%;
  text-align: center;
  font-size: 5em;
  color: rgb(65, 251, 0);
  background-color: rgb(0, 0, 0);
  border: 5px ridge rgb(154, 154, 154);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.gameStatsMenuItem {
  width: 100%;
  height: 25px;
  text-align: center;
  border: 2px inset rgb(135, 135, 135);
  border-radius: 15px;
  margin: 3px;
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

.gameStatsMenuItem:hover {
  background-color: rgb(156, 156, 156);
}

#otherZones {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: -400px;
  height: 100%;
  width: 400px;
  background-color: rgba(207, 207, 207, 0.75);
  transition: all 2s;
  text-align: center;
  border: 5px ridge grey;
  border-left: none;
}

#otherZonesCardArea {
  overflow: auto;
  padding: 10px;
}

.currentZoneCard{
  position: absolute;
  border-radius: 10px;
}

.currentZoneCard .removeCard {
  border: none;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.currentZoneCard .removeCard:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(237, 27, 27);
}


#gameBoard {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: calc(-100vh/2);
  left: calc(-100vw/2);
  /*transform-origin: top left;*/
}

#gameBoardOpponent {
  position: relative;
  width: 200vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 148, 148);
}

#gameBoardOurs {
  position: relative;
  width: 200vw;
  height: 100vh;
  left: 0px;
  background-color: rgb(139, 171, 255);
}

#stateDescription {
  position: absolute;
  bottom: -40vh;
  left: 200px;
  height: 40vh;
  width: calc(100vw - 250px);
  background-color: rgb(149, 149, 149);
  text-align: center;
  border: 2px inset rgb(135, 135, 135);
  padding: 20px;
  background-color: rgba(207, 207, 207, 0.5);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: 2s;
}

#stateDescription textarea {
  height: 100%;
  width: 100%;
  font-size: 2em;
  padding: 30px;
  background-color: rgba(209, 209, 209, .75);
  border-radius: 10px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

#inspectModal {
  display: none;
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, .5);
}

#inspectCardImage {
  position: absolute;
  top: 5vh;
  left: calc((100vw - 65vh)/2);
  height: 90vh;
  width: 65vh;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
}

#alertToast {
  display: none;
  position: absolute;
  z-index: 3000;
  /*height: 100px;*/
  width: 75%;
  left: 12.5vw;
  font-size: 3em;
  text-align: center;
  border: 5px groove grey;
}

.createdCard {
  border-radius: 10px;
  padding-top: 50px;
  transition: transform .5s;
}

.tapped {
  transform: rotate(90deg);
}

.createdCard .removeCard {
  position: absolute;;
  bottom: 0%;
  border: none;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.createdCard .removeCard:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(237, 27, 27);
}

.createdCard .powerToughness {
  float: right;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  position: relative;
  top: 75%;
  right: 5%;
  padding: 2px;
}

.createdCard .loyalty {
  background-color: rgb(221, 221, 221);
  display: inline-block;
  height: 15px;
  position: relative;
  width: 25px;
  top: 79%;
  left: 74%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

.createdCard .loyalty:before {
  border-bottom: 5px solid rgb(221, 221, 221);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 15px;
  width: 0;
  transform: rotate(180deg);
}

.customContextMenu {
  position: absolute;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(59, 59, 59);
  border-radius: 3px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
  width: auto;
  z-index: 2000;
  padding: 5px;
}

.customContextMenu ul {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

.customContextMenu ul li {
  border-bottom: 2px solid rgb(210, 210, 210);
}

.customContextMenu ul li:last-child {
  border-bottom: none;
}

.customContextMenu ul li:hover {
  background-color: rgb(199, 199, 199);
}
