
  <div id="cardPortal" class="container" cardportaldraggable>

    <div class="row">

      <h3>Card Portal</h3>

      <form ng-submit="createNewCard()">
        <div class="input-group">

          <input
          class="form-control"
          type="text"
          ng-model="newCardModel"
          placeholder="New Card"
          autofocus
          >

          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
            <button class="btn btn-default" ng-click="clearInput()">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </span>

        </div>
      </form>

      <ul id="suggestions">
        <li
        ng-repeat="cardName in allCardNames | cardFilter: newCardModel track by $index"
        class="suggestion"
        ng-click="selectSuggestion(cardName)"
        ng-if="cardName != newCardModel"
        >
          {{cardName}}
        </li>
      </ul>

    </div>

  </div>
