<ul
id="customContextMenu"
ng-mouseleave="removeContextMenu($event)">

  <li
  ng-click="inspectCard($event)">
  Inspect</li>

  <li
  ng-if="card.info.types.indexOf('Creature') != -1"
  ng-click="setPT($index)">
  Set Power/Toughness</li>

  <li
  ng-if="card.info.types.indexOf('Planeswalker') != -1"
  ng-click="setLoyalty($index)">
  Set Loyalty</li>

  <li
  ng-if="card.info.layout == 'double-faced'"
  ng-click="flipDFCard($index)">
  Transform</li>

  <li
  ng-click="moveCardUp($index)">
  Move Up</li>

  <li
  ng-click="moveCardDown($index)">
  Move Down</li>

  <li
  ng-click="duplicateCard($index)">
  Duplicate</li>

</ul>
