<div>

  <div id="otherZones">

    <div class="page-header">

      <h1>{{currentPlayer}} {{currentZone}}</h1>
      <br/>

      <form ng-submit="createNewCurrentZone()">
        <div class="input-group">

          <input
          class="form-control"
          type="text"
          ng-model="newCurrentZoneCard"
          placeholder="Add a card..."
          autocomplete="off"
          ondblclick="this.select()"
          >

          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" ng-click="clearCurrentZoneInput()">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </span>

        </div>
      </form>

      <ul id="suggestions">
        <li
        ng-repeat="cardName in allCardNames | cardFilter: newCurrentZoneCard track by $index"
        class="suggestion"
        ng-click="selectZoneSuggestion(cardName)"
        >
          {{cardName}}
        </li>
      </ul>

      <button ng-click="clearCurrentZone()" class="btn btn-warning" style="width: 45%">
        Empty {{currentZone}}
      </button>

      <button ng-click="hideOtherZones()" class="btn btn-info" style="width: 45%">
        Hide {{currentZone}}
      </button>

    </div>

    <div id="otherZonesCardArea">

      <div
      class="currentZoneCard"
      ng-repeat="card in currentZoneCards"
      ng-style="card.style"
      contextmenurightclick
      >
        <button class="removeCard" ng-click="removeOtherZoneCard($index)"><strong> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></strong></button>
      </div>

    </div>

  </div>


  <div id="gameStats">

    <section id="opponent">

      <h2 style="text-align: center">Player 2</h2>

      <div id="opponentLife" ng-click="incrementOpponent()" ng-right-click="decrementOpponent()">
        {{gameStats.opponent.life}}
      </div>

      <div class="gameStatsMenuItem" ng-click="viewZone('Opponents', 'Library')">
        Library <span class="badge" ng-if="gameStats.opponent.library.length != 0">{{gameStats.opponent.library.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Opponents', 'Hand')">
        Hand <span class="badge" ng-if="gameStats.opponent.hand.length != 0">{{gameStats.opponent.hand.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Opponents', 'Graveyard')">
        Graveyard <span class="badge" ng-if="gameStats.opponent.graveyard.length != 0">{{gameStats.opponent.graveyard.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Opponents', 'Exile')">
        Exile <span class="badge" ng-if="gameStats.opponent.exile.length != 0">{{gameStats.opponent.exile.length}}</span>
      </div>

    </section>


    <section id="self">

      <h2 style="text-align: center">Player 1</h2>

      <div id="selfLife" ng-click="incrementSelf()" ng-right-click="decrementSelf()">
        {{gameStats.self.life}}
      </div>

      <div class="gameStatsMenuItem" ng-click="viewZone('Our', 'Library')">
        Library <span class="badge" ng-if="gameStats.self.library.length != 0">{{gameStats.self.library.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Our', 'Hand')">
        Hand <span class="badge" ng-if="gameStats.self.hand.length != 0">{{gameStats.self.hand.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Our', 'Graveyard')">
        Graveyard <span class="badge" ng-if="gameStats.self.graveyard.length != 0">{{gameStats.self.graveyard.length}}</span>
      </div>
      <div class="gameStatsMenuItem" ng-click="viewZone('Our', 'Exile')">
        Exile <span class="badge" ng-if="gameStats.self.exile.length != 0">{{gameStats.self.exile.length}}</span>
      </div>
    </section>

  </div>

</div>
