
<div style="text-align: center">
  <b>{{card.info.name}}</b>
</div>

<hr style="margin: 5px">

<ul
id="customContextMenu"
ng-mouseleave="removeContextMenu($event)">

  <li
  ng-click="inspectCard(card)"
  >
  Inspect</li>

  <li
  ng-if="card.info.type.indexOf('Creature') != -1 || card.info.type.indexOf('Vehicle') != -1"
  ng-click="setPT($index)">
  Set Power/Toughness</li>

  <li
  ng-if="card.info.type.indexOf('Planeswalker') != -1"
  ng-click="setLoyalty($index)">
  Set Loyalty</li>

  <li
  ng-if="card.info.layout == 'double-faced'"
  ng-click="flipDFCard($index, $event)">
  Transform</li>

  <li ng-click="setRedCounters(card)">
  Set Red Counters</li>

  <li ng-click="setBlueCounters(card)">
  Set Blue Counters</li>

  <li
  ng-click="moveCardUp($index)">
  Move Up</li>

  <li
  ng-click="moveCardDown($index)">
  Move Down</li>

  <li
  ng-click="duplicateCard($index)">
  Duplicate</li>

</ul>
